* {
  box-sizing: border-box;
}
#container {
  width: 1440px;
  height: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(155, 222, 243);
  height: 150px;
  display: flex;
  padding: 0px 25px;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 254);
  height: 100%;
  padding: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  gap: 25px;
}

.logo {
  background-image: url("./img/CatLogo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
}

.logo,
.refToCats,
.refToDogs,
.siteName {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refToCats a,
.refToDogs a {
  color: #fff;
}

.linkMenu {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 6px 5px 7px #000;
}

.siteName a {
  color: rgb(0, 0, 0);
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  width: 200px;
  height: 120px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 15px rgb(134, 128, 128);
}

.img1 {
  background-image: url("./img/blacky.jpg");
}

.img2 {
  background-image: url("./img/catInBox.jpg");
}

.img3 {
  background-image: url("./img/k3 1.jpg");
}

.img4 {
  background-image: url("./img/k4 1.jpg");
}

.img5 {
  background-image: url("./img/k5 1.jpg");
}

.img6 {
  background-image: url("./img/k6 1.jpg");
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
}
